{% extends "account/base_entrance.html" %}

{% comment %}
  Signup's mobile code, in the signed-out shell. The number is optional, so
  leaving skips it rather than signing out. Signed in, the settings version of
  this screen is used instead. Context adds: phone.
{% endcomment %}
{% load i18n %}

{% block title %}
  {% translate "Confirm your mobile number" %}
{% endblock title %}
{% block entrance_title %}
  {% translate "Confirm your mobile number" %}
{% endblock entrance_title %}
{% block entrance_lede %}
  {% blocktranslate trimmed %}
    We texted a code to {{ phone }}. It expires shortly, so use it soon.
  {% endblocktranslate %}
{% endblock entrance_lede %}
{% block entrance_body %}
  {% translate "Wrong number?" as change_title %}
  {% translate "Skip, add a number later" as skip_label %}
  {% url 'account_skip_phone_verification' as skip_url %}
  {% include "account/partials/confirm_code.html" %}
{% endblock entrance_body %}
