{% extends "account/base_entrance.html" %}

{% comment %}
  Choosing the new password, once the emailed code is confirmed. The form posts
  to action_url, which carries on the reset the session is holding.
{% endcomment %}
{% load i18n careui %}

{% block title %}
  {% translate "Choose a new password" %}
{% endblock title %}
{% block entrance_title %}
  {% translate "Choose a new password" %}
{% endblock entrance_title %}
{% block entrance_lede %}
  {% translate "Pick something you have not used anywhere else, then sign in with it." %}
{% endblock entrance_lede %}
{% block entrance_body %}
  <form class="flex flex-col gap-4" method="post" action="{{ action_url }}">
    {% csrf_token %}
    {% include "components/form_errors.html" %}
    {{ redirect_field }}
    {% translate "Min 12 characters" as password_placeholder %}
    {% translate "Use 12 characters or more, including a letter, a number and a special character, and nothing you have reused elsewhere." as password_hint %}
    {% ui_field form.password1 placeholder=password_placeholder help_text=password_hint inline_errors=False %}
    {% translate "Type it once more" as password2_placeholder %}
    {% ui_field form.password2 placeholder=password2_placeholder inline_errors=False %}
    <button type="submit"
            name="action"
            class="ui-btn ui-btn--default ui-btn--size-default ui-btn--block">
      {% translate "Save new password" %}
    </button>
  </form>
  {% url 'account_login' as login_fallback %}
  <a class="ui-btn ui-btn--outline ui-btn--size-default ui-btn--block no-underline"
     href="{% firstof login_url login_fallback %}">{% translate "Cancel" %}</a>
{% endblock entrance_body %}
