{% load i18n %}

{% if form.errors %}
  <div class="ui-alert ui-alert--destructive"
       role="alert"
       tabindex="-1"
       data-error-summary>
    <div class="flex-1 space-y-1">
      <p class="font-semibold">{% translate "Please check the following" %}</p>
      {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
      <ul class="space-y-1">
        {% for field in form %}
          {% if field.errors %}
            <li>
              {% if field.is_hidden %}
                {{ field.errors|join:' ' }}
              {% else %}
                <a id="{{ field.auto_id }}_error_summary"
                   href="#{{ field.auto_id }}"
                   data-error-field="{{ field.html_name }}"><span class="underline underline-offset-2">{{ field.label }}</span>: {{ field.errors|join:' ' }}</a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
