<svg xmlns="http://www.w3.org/2000/svg"
     class="sbx-wheel-rotor"
     aria-hidden="true"
     focusable="false"
     viewBox="0 0 200 200"
     fill="none"
     stroke="currentColor"
     stroke-width="1">
  <circle cx="100" cy="100" r="96" />
  <circle cx="100" cy="100" r="88" />
  <circle cx="100" cy="100" r="14" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(0 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(15 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(30 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(45 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(60 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(75 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(90 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(105 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(120 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(135 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(150 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(165 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(180 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(195 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(210 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(225 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(240 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(255 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(270 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(285 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(300 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(315 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(330 100 100)" />
  <line class="sbx-wheel-spoke" x1="100" y1="84" x2="100" y2="10" transform="rotate(345 100 100)" />
</svg>
